* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 62%;
    overflow-x: hidden;
}

body {
    background-color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: rgb(77, 74, 74);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: black;
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: red;
}

#menu-icon {
    font-size: 3.6rem;
    display: none;
}

section {
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    justify-content: center left;
}

.name-div {
    display: flex;
}

.profile-image {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    object-fit: cover;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .name-div {
        display: flex;
        flex-direction: column-reverse;
    }
    .profile-image {
        border-radius: 50%;
        width: 140px;
        height: 140px;
        object-fit: cover;
        margin-bottom: 16px;
    }
}

.home-content h3 {
    font-size: 36px;
    font-weight: 700;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    padding-right: 40rem;
}

.home-content p {
    font-size: 20px;
    line-height: 2;
}

span {
    color: red;
}

.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid black;
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
}

.social a:hover {
    background: lightblue;
}

@media (max-width: 600px) {
    .home {
        flex-direction: column-reverse;
        justify-content: center left;
    }

    .home h1 {
        font-size: 44px;
        font-weight: 600;
        line-height: 1.1;
    }

    .home h3 {
        font-size: 29px;
    }

    .home-content p {
        font-size: 18px;
        line-height: 1.4;
    }
}


hr.solid {
    border-top: 1px solid #bbb;
}

hr {
    margin: 0% 9% 0% 9%;
}

.about {
    padding-top: 20px;
    display: block;
    justify-content: left;
}

.about h2 {
    font-size: 32px;
    padding-bottom: 20px;
}

.about h3 {
    font-size: 18px;
}

.about p {
    padding-top: 10px;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: white;
}

.footer p {
    font-size: 14px;
}

@media (max-width:600px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: white;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .2rem .6rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 18px;
        margin: 1rem 2rem;
    }
}

.skills {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.skill {
    width: 46%;
    margin-bottom: 10px;
}

.skill:nth-child(odd) {
    margin-right: 6%;
}

.skill-name {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
}

.skill-bar {
    height: 16px;
    background: #d3d3d3;
    border-radius: 4px;
}

.skill-per {
    height: 16px;
    /* background: #c63f41; */
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
}

.level {
    text-align: center;
    width: 100%;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
}

@media (max-width: 600px) {
    .skills {
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill {
        width: 100%;
        margin-bottom: 5px;
    }
}

.projects {
    padding-top: 26px;
    display: block;
    justify-content: left;
}

.projects h2 {
    font-size: 32px;
}

.projects p {
    padding-top: 10px;
    font-size: 16px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.project {
    width: calc(33.33% - 20px);
    height: 18rem;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #d3d3d3;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.project p {
    font-size: 16px;
    text-align: center;
    padding-bottom: 12px;
}

@media screen and (max-width: 600px) {
    .project {
        width: 100%;
    }
}

.project-btn {
    background-color: #c63f41;
    border: none;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.contact {
    padding-top: 26px;
    display: block;
    justify-content: left;
}

.contact h2 {
    font-size: 32px;
}

.contact p {
    padding-top: 10px;
    font-size: 16px;
}